@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "main.cshtml";
}

@{
	var selection = Umbraco.Content(Guid.Parse("c6b99edf-6e1b-4732-a216-a80c607fa041"))
    .ChildrenOfType("tvShow")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Name);
}
<ul class="grid-container">
	@foreach (var item in selection)
	{
		<li class="grid-item">
			@if (item.HasValue("showImage"))
			{
				var image = item.Value<IPublishedContent>("showImage");
				<a href="@item.Url()">
					<img src="@image.Url()" alt="@image.Name"/>
				</a>
			}
		</li>
	}
</ul>