@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "main.cshtml";
}

<div class="tvshow-container">
    <h1>@Model.Name</h1>

    <div class="summary">
        @Html.Raw(Model.Value<string>("showSummary"))
    </div>

    @if (Model.HasValue("showImage"))
    {
        var image = Model.Value<IPublishedContent>("showImage");
        <img src="@image.Url()" alt="@image.Name" />
    }
</div>